#flex-container {

    display: flex;
    flex-wrap: wrap; 
    color: RGB(0,0,0);
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background: rgb(228 168 168);
    font-family: 'Roboto', sans-serif;
    height: 50%;
}

main {

    width: 100%;
}


aside {
    width: 100%;
    background: rgb(222, 214, 214);
    color: rgb(0,0,0);
    text-align: center;

}

#API{
    width: 100%;
}

/*Scrollbar APIhaun tuloksille, joka piilossa, kunnes haku on suoritettu.*/
#APIhaku{
    visibility: hidden;
    background: rgb(222, 214, 214);
    width:100%;
    height:400px;
    FLOAT: left;
    padding: 1%;
    overflow:scroll;

}

@media only screen and (min-width: 768px) {
    /*aside siirtyy isolla ruudulla oikealle puolelle*/
    aside {
        width: 20%;
        height: 50%;

    }

    main {
        width: 80%;
    }
}
/* lisätty fontti*/
h1, h2 {
    font-family: 'Libre Baskerville', serif;
}

body {
    margin-left: 50px;
    margin-right: 50px;
}
a {
    color: rgb(228 168 168);
}

