#flex-container {

    display: flex;
    flex-wrap: wrap; 
    color: RGB(0,0,0);
    font-family: 'Roboto', sans-serif;
}

header {
    width: 100%;
    text-align: center;
    background: rgb(228 168 168);
    font-family: 'Roboto', sans-serif;
}

main {

    width: 100%;
}


/*Kasvaa haun myötä koko sivun mittaiseksi*/
aside {
    width: 100%;
    background: rgb(222, 214, 214);
    color: rgb(0,0,0);
}

#API{
    width: 80%;
}

h3{
    background-color: goldenrod;
}

@media only screen and (min-width: 768px) {
    /*aside siirtyy isolla ruudulla oikealle puolelle*/
    aside {
        width: 20%;
    }

    main {
        width: 100%;
    }
}
/* lisätty fontti*/
h1, h2 {
    font-family: 'Libre Baskerville', serif;
}
body {
    margin-left: 150px;
    margin-right: 150px;
}
a {
    color: rgb(228 168 168);
}